body{
    background-color:rgb(240, 230, 199);
}
img{
    width: 150px;
}
h1{
    color: rgb(172, 12, 12);
}
h2{
    color: rgb(144, 14, 14) ;
}
p{
    color:rgb(86, 36, 3);
}
h5{
    color:rgb(144, 14, 14);
}